# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.John Lemon's 3D beginnner.iml
# Datasource local storage ignored files
/../../../../../../:\my projects\John Lemon's 3D beginnner\.idea\.idea.John Lemon's 3D beginnner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
